body {
  font-family: Arial,​sans-serif;
  color: #484848;
    font-size: 13px;
}

p {
  font-family: Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
  margin: 0 0 9px;
}

h2 {
  font-family: Arial,​sans-serif;
  font-size: 26px;
  line-height: 36px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial,​sans-serif;
  color: #484848;
  font-weight: normal;
  margin: 0;
  text-rendering: optimizelegibility;
}

h3 {
    font-size: 18px;
    line-height: 27px;
}

h6 {
    color: #999999;
    font-size: 11px;
    text-transform: uppercase;
}
h4, h5, h6 {
    line-height: 18px;
}

hr {
  margin: 18px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

a {
    color: #005072;
    cursor: pointer;
    text-decoration: none;
}
dl {
    margin-bottom: 18px;
}

dt {
    font-weight: bold;
    line-height: 17px;
}

ol {
    list-style: decimal outside none;
}
ul, ol {
    margin: 0 0 9px 25px;
    padding: 0;
}

li {
    line-height: 18px;
}

table {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E8E8E8;
    border-image: none;
    border-style: solid dashed;
    border-width: 1px;
    color: #686868;
    font-size: 12px;
    margin-bottom: 18px;
    width: auto;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table colgroup + thead tr:first-child th, .table colgroup + thead tr:first-child td, .table thead:first-child tr:first-child th, .table thead:first-child tr:first-child td {
    border-top: 0 none;
}
table thead th {
    vertical-align: middle;
}
table th, table td {
    border-right: 1px dashed #E8E8E8;
    padding: 8px;
}
table th {
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #E8E8E8;
    color: #656565;
    font-size: 13px;
    font-weight: bold;
}
table th, .table td {
    border-top: 1px solid #E8E8E8;
    line-height: 18px;
    min-height: 25px;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}
th {
    color: #717171;
}

table th, table td {
    border-right: 1px dashed #E8E8E8;
    padding: 8px;
}
table th, table td {
    border-top: 1px solid #E8E8E8;
    line-height: 18px;
    min-height: 25px;
    padding: 10px;
    text-align: left;
    vertical-align: top;
}

code, pre {
  background-color: #F5F5F5;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px 4px 4px 4px;
  display: block;
  font-size: 12.025px;
  line-height: 18px;
  margin: 0 0 9px;
  padding: 8.5px;
}

code {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}

/* --- Yodlee Style Guide Changes -- */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; 
}