body #method_content pre span {
    font-family: monospace; /* Courier */
}

.modal[role="dialog"] .modal-body #user-login input,
.modal[role="dialog"] .modal-body #user-register-form input {
    float: none;
    margin-left: inherit;
    width: 100%;
}

.modal[role="dialog"] .modal-body #user-login label,
.modal[role="dialog"] .modal-body #user-register-form label {
    float: none;
    font-weight: bold;
    padding-top: 5px;
    text-align: left;
    width: inherit;
}

#register.modal[role="dialog"] .modal-body,
#register.modal[role="dialog"] .modal-body {
    max-height: 1000px;
    overflow-y: visible;
}

[role="dialog"] #user-login .form-group,
[role="dialog"] #user-register-form .form-group {
    clear: none;
    float: none;
    margin-top: 10px;
}

.modal[role="dialog"] #user-login input,
.modal[role="dialog"] #user-register-form input {
    height:inherit;
}

body #method_content .resource_description {
    padding-top:35px;
}

body.page-admin-smartdocs th.smartdocs-operations {
    width: 24%;
}

body.page-admin-smartdocs #edit-resources,
body.page-admin-smartdocs #edit-methods {
    font-size:11px;
}

body.page-admin-smartdocs .api-model-table-operations {
    width:160px;
}

.node-teaser .method_details,
.view .method_details {
    border-bottom: 1px solid #CACACA;
    padding: 10px 0;
}

.node-teaser .method_details .title a,
.view .method_details .title a {
    font-size: 15px;
    line-height: 13px;
}
.front .node-teaser .method_details .title a,
.front .view .method_details .title a {
    font-size: 13px;
}

.node-teaser .method_details .title,
.view .method_details .title {
    float: left;
    width: 450px;
    position:relative;
    font-size: 13px;
}

.node-teaser .method_details .title-header,
.view .method_details .title-header {
    float:left;
    width: 450px;
    font-size: 10px;
    font-weight:bold;
    text-transform: uppercase;
}

.node-teaser h3.method-tag-header,
.view h3.method-tag-header {
    margin-top:25px;
}

.node-teaser .method_details .description-header,
.view .method_details .description-header {
    font-size: 10px;
    font-weight:bold;
    text-transform: uppercase;
    max-width: 500px;
    overflow: hidden;
}

.node-teaser .method_details:hover,
.view .method_details:hover {
    background-color: #FBFBFB;
}

.node-teaser .method_details .verb-auth,
.node-teaser .method_details .title-description,
.node-teaser .method_details .title-description-node,
.view .method_details .verb-auth,
.view .method_details .title-description,
.view .method_details .title-description-node {
    float:left;
}

.node-teaser .method_details .verb-auth,
.view .method_details .verb-auth {
    width:100px;
}

.node-teaser .method_details .title-description-node,
.view .method_details .title-description-node {
    max-width: 500px;
    padding-left: 10px;
    padding-right: 15px;
}

.node-teaser .method_details .title-description,
.view .method_details .title-description {
    max-width: 300px;
    padding-left: 10px;
}

.front .view .method_details .title-description {
    max-width: 260px;
}
.node-teaser.method_details .description,
.view .method_details .description {
  line-height: 20px;
  max-width: 500px;
  overflow: hidden;
}

.node-teaser p.get,
.node-teaser p.post,
.node-teaser p.put,
.node-teaser p.delete,
.node-teaser p.patch,
.node-teaser p.GET,
.node-teaser p.POST,
.node-teaser p.PUT,
.node-teaser p.DELETE,
.node-teaser p.PATCH,
.view p.get,
.view p.post,
.view p.put,
.view p.delete,
.view p.patch,
.view p.GET,
.view p.POST,
.view p.PUT,
.view p.DELETE,
.view p.PATCH {
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    float: left;
    font-size: 11px;
    line-height: 14px;
    margin: 4px 0 0;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
}

.node-teaser span.icon_lock,
.view span.icon_lock {
    background: url("../img/lock.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    float: left;
    height: 12px;
    margin: 8px 4px 4px;
    width: 11px;
}

.node-teaser p.put, .node-teaser p.PUT,
.view p.put, .view p.PUT {
    background-color: #FA9400;
}

.node-teaser p.delete, .node-teaser p.DELETE,
.view p.delete, .view p.DELETE {
    background-color: #E50000;
}

.node-teaser p.get, .node-teaser p.GET,
.view p.get, .view p.GET {
    background-color: #008BFA;
}

.node-teaser p.post, .node-teaser p.POST,
.view p.post, .view p.POST {
    background-color: #15B946;
}

.node-teaser p.patch, .node-teaser p.PATCH,
.view p.patch, .view p.PATCH {
    background-color: #D38042;
}

.node-teaser .method_details .title p.resource_path,
.view .method_details .title p.resource_path {
    margin:0;
    padding:5px 0 0 0;
    color: #AAAAAA;
}

.node-teaser .method_details,
.view .method_details {
    line-height:13px;
}

.node-teaser .resource_summary h4,
.view .resource_summary h4 {
    font-size: 16px;
    margin: 0;
    padding-bottom: 4px;
}

.node-teaser .resource_summary div.field-item,
.view .resource_summary div.field-item {
    float:right;
    clear:both;
}

.node-teaser .resource_summary .row,
.view .resource_summary .row {
    margin-top:15px;
}

.node-teaser .table-condensed td,
.view .table-condensed td {
    word-break:break-all;
}

.node-teaser .table-condensed,
.view .table-condensed {
    table-layout: fixed
}

.node-teaser h2.subtitle,
.view h2.subtitle {
    float: inherit;
    width: auto;
}

.node-teaser #resource_URL input,
.view #resource_URL input {
    position:relative;
    top:4px;
}

.page-taxonomy .node-teaser footer {
    display:none;
}

body.page-node #container #content,
body.page-node #container #index_container {
    width:100%;
    border-right:0;
}

body.page-node #container h2 {
    width:610px;
    padding-bottom:15px;
}

body #resource_URL input {
    font-family: monospace;
}

form#devconnect-docgen-model-detail table td.description-field {
    width:12%;
    max-width:400px;
}
form#devconnect-docgen-model-detail table td.word-wrap {
    word-break: break-all;
}

div.method_data div.title-description p {
    word-wrap: break-word;
}

body.front section.block div.method_details:hover,
body.front section.block div.method_details,
body.front section.block div.method_data {
    border:none;
    background:transparent;
}

body.front .method_details {
    padding:0;
}
body.front .method_details .verb-auth {
    width:80px;
}

body.front section.block div.method_data {
    padding: 0 0 10px;
}

#block-views-home-featured-forum-posts-block {
    border-left: 1px dashed #E0E0E0;
    border-right: 1px dashed #E0E0E0;
}

.page-content .container .col-sm-12 {
    padding-left:15px;
    padding-right:15px;
}

table.table td p.data {
    word-break: break-all;
}

.page-admin-smartdocs .collapsible .fieldset-legend a {
    height: 30px;
}

.page-admin-smartdocs input[type="text"]:disabled {
    background-color: #F4F4F4;
}
.page-admin-smartdocs .templateauth-type,
.page-admin-smartdocs .templateauth-help {
    margin: 10px 0;
}
.page-admin-smartdocs .templateauth-help div {
    margin: 5px 0;
}
.page-admin-smartdocs .smartdocs-revision-view-published-docs,
.page-admin-smartdocs .templateauth-help {
    border: 1px solid #ccc;
    padding: 10px;
}

/** Styles for the model list page **/
.view-smartdocs-models .model-info{
    border-bottom: 1px solid #CACACA;
    padding: 10px;
}

.view-smartdocs-models span.field-content.model_title {
    font-weight: bold;
    font-size: 16px;
}

.view-smartdocs-models .views-field-name {
    margin: 0 0 5px 0;
}

/**
 * @TODO: Remove after DEVSOL-649 is complete.
 * This is hiding IMPLICIT, PASSWORD,and CLIENT_CREDENTIALS from the auth_fields
 * grant type for OAuth security settings. ($form['auth_fields']['grantType'])
 */
#edit-auth-fields-granttype div:nth-child(1),
#edit-auth-fields-granttype div:nth-child(2),
#edit-auth-fields-granttype div:nth-child(3) {
    display:none;
}

/** Overriding Method styles from the Smartdocs Main Css**/

#method_container {
    margin: 0 auto;
}
#method_content {
    margin-top: 0;
}

#method_content .resource_description {
    font-size: 14px;
}
#method_content [data-role='method_url_container'] {
    font-family: monospace;
}
#method_content .url_container > p >span {
    font-family: monospace;
}
#method_content .table>thead>tr>th {
    border-bottom: none;
}
#method_content  span[data-role='name']{
    font-weight: bold;
}
#method_content  span[data-role='required']{
    font-style: italic;
}

#method_content .table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #ffffff;
}
#method_content .table th {
    background-color: #ffffff;
}

.resource-ops {
    top:-24px;
    z-index:1;
    right:0;
    position:relative;
    float:right;
    width:150px;
}
body.tao .resource-ops {
    top:4px;
    right:70px;
}

#smartdocs-revision-detail tbody .ctools-dropbutton {
    margin-top:-1em;
}
body.tao #smartdocs-revision-detail tbody .ctools-dropbutton {
    margin-top:0;
}

/** Format the request payload areas **/
.request_payload .docs, .payload_text_schema {
    margin: 5px 0;
    border: 1px solid #cacaca;
}

.request_payload .docs {
    padding: 23px;
}
