body #method_content h1,
body #method_content h2,
body #method_content h3,
body #method_content h4,
body #method_content h5,
body #method_content h6,
body #method_content p,
body #method_content a,
body #method_content span,
body #method_content td,
body #method_content tr,
body #method_content th,
body #method_content .resource_description,
#method_content .operation_container .authentication .title,
#method_content button#send_request,
#method_content .request_response_tabs a.selected {
    font-family: Helvetica,Arial,sans-serif;
}

body #method_content pre span {
    font-family: monospace;
}

.modal[role="dialog"] .modal-body #user-login input,
.modal[role="dialog"] .modal-body #user-register-form input {
    float: none;
    margin-left: inherit;
    width: 100%;
}

.modal[role="dialog"] .modal-body #user-login label,
.modal[role="dialog"] .modal-body #user-register-form label {
    float: none;
    font-weight: bold;
    padding-top: 5px;
    text-align: left;
    width: inherit;
}

#register.modal[role="dialog"] .modal-body,
#register.modal[role="dialog"] .modal-body {
    max-height: 1000px;
    overflow-y: visible;
}

[role="dialog"] #user-login .form-group,
[role="dialog"] #user-register-form .form-group {
    clear: none;
    float: none;
    margin-top: 10px;
}

.modal[role="dialog"] #user-login input,
.modal[role="dialog"] #user-register-form input {
    height:inherit;
}

body #method_content .resource_description {
    padding-top:35px;
}

body.page-admin-smartdocs th.smartdocs-operations {
    width: 24%;
}

body.page-admin-smartdocs #edit-resources,
body.page-admin-smartdocs #edit-methods {
    font-size:11px;
}

body.page-admin-smartdocs .api-model-table-operations {
    width:160px;
}

.node-teaser .method_details,
.view .method_details {
    border-bottom: 1px solid #CACACA;
    padding: 10px 0;
}

.node-teaser .method_details .title a,
.view .method_details .title a {
    font-size: 15px;
    line-height: 13px;
}
.front .node-teaser .method_details .title a,
.front .view .method_details .title a {
    font-size: 13px;
}

.node-teaser .method_details .title,
.view .method_details .title {
    float: left;
    width:450px;
    position:relative;
    font-size: 13px;
}

.node-teaser .method_details .title-header,
.view .method_details .title-header {
    float:left;
    width: 450px;
    font-size: 10px;
    font-weight:bold;
    text-transform: uppercase;
}

.node-teaser h3.method-tag-header,
.view h3.method-tag-header {
    margin-top:25px;
}

.node-teaser .method_details .description-header,
.view .method_details .description-header {
    float:left;
    font-size: 10px;
    font-weight:bold;
    text-transform: uppercase;
}

.node-teaser .method_details:hover,
.view .method_details:hover {
    background-color: #FBFBFB;
}

.node-teaser .method_details .verb-auth,
.node-teaser .method_details .title-description,
.node-teaser .method_details .title-description-node,
.view .method_details .verb-auth,
.view .method_details .title-description,
.view .method_details .title-description-node {
    float:left;
}

.node-teaser .method_details .verb-auth,
.view .method_details .verb-auth {
    width:100px;
}

.node-teaser .method_details .title-description-node,
.view .method_details .title-description-node {
    max-width: 500px;
    padding-left: 10px;
    padding-right: 15px;
}

.node-teaser .method_details .title-description,
.view .method_details .title-description {
    max-width: 300px;
    padding-left: 10px;
}

.node-teaser.method_details .description,
.view .method_details .description {
    float: left;
    line-height: 20px;
    max-width: 500px;
}

.node-teaser p.get,
.node-teaser p.post,
.node-teaser p.put,
.node-teaser p.delete,
.node-teaser p.GET,
.node-teaser p.POST,
.node-teaser p.PUT,
.node-teaser p.DELETE,
.view p.get,
.view p.post,
.view p.put,
.view p.delete,
.view p.GET,
.view p.POST,
.view p.PUT,
.view p.DELETE {
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    float: left;
    font-family: "Arial";
    font-size: 11px;
    line-height: 14px;
    margin: 4px 0 0;
    padding: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 50px;
}

.node-teaser span.icon_lock,
.view span.icon_lock {
    background: url("../img/lock.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    float: left;
    height: 12px;
    margin: 8px 4px 4px;
    width: 11px;
}

.node-teaser p.put, .node-teaser p.PUT,
.view p.put, .view p.PUT {
    background-color: #FA9400;
}

.node-teaser p.delete, .node-teaser p.DELETE,
.view p.delete, .view p.DELETE {
    background-color: #E50000;
}

.node-teaser p.get, .node-teaser p.GET,
.view p.get, .view p.GET {
    background-color: #008BFA;
}

.node-teaser p.post, .node-teaser p.POST,
.view p.post, .view p.POST {
    background-color: #15B946;
}

.node-teaser .method_details .title p.resource_path,
.view .method_details .title p.resource_path {
    margin:0;
    padding:0;
    padding-top:5px;
    color: #AAAAAA;
}

.node-teaser .method_details,
.view .method_details {
    line-height:13px;
}

.node-teaser .resource_summary h4,
.view .resource_summary h4 {
    font-size: 16px;
    margin: 0;
    padding-bottom: 4px;
}

.node-teaser .resource_summary div.field-item,
.view .resource_summary div.field-item {
    float:right;
    clear:both;
}

.node-teaser .resource_summary .row,
.view .resource_summary .row {
    margin-top:15px;
}

.node-teaser .table-condensed td,
.view .table-condensed td {
    word-break:break-all;
}

.node-teaser .table-condensed,
.view .table-condensed {
    table-layout: fixed
}

.node-teaser h2.subtitle,
.view h2.subtitle {
    float: inherit;
    width: auto;
}

.node-teaser #resource_URL input,
.view #resource_URL input {
    position:relative;
    top:4px;
}

.page-taxonomy .node-teaser footer {
    display:none;
}

body.page-node #container #content,
body.page-node #container #index_container {
    width:100%;
    border-right:0;
}

body.page-node #container h2 {
    width:610px;
    padding-bottom:15px;
    font-family: "ars_maquette_proregular", Arial,sans-serif;
}

body #resource_URL input {
    font-family: Courier;
}
body #container h2 {
    font-family: "ars_maquette_proregular",Helvetica,Arial,sans-serif;
}
body #container .resource_description {
    font-family: "ars_maquette_proregular",Helvetica,Arial,sans-serif;
}
body #container h3 {
    font-family: 'ars_maquette_probold',Helvetica,Arial,sans-serif;
}
body #container h3 a {
    font-family: 'ars_maquette_probold',Helvetica,Arial,sans-serif;
}
body .resource_summary h4 {
    font-family: "ars_maquette_probold",Helvetica,Arial,sans-serif;
}
body .resource_summary div p.title {
    font-family: "ars_maquette_probold",Helvetica,Arial,sans-serif;
}
body .method_table .method_title .method_data,
body .method_table .method_details .title span:first-child,
body .param_table .param_title div,
body .param_table .param_details .title span:first-child,
body .method_edit label {
    font-family: "ars_maquette_probold",Helvetica,Arial,sans-serif;
}
body .method_table .method_details .title span.required {
    font-family: "ars_maquette_proitalic",Helvetica,Arial,sans-serif;
}
body button#send_request {
    font-family: 'ars_maquette_promedium',Helvetica,Arial,sans-serif;
}
body button#send_request span {
    font-family: "ars_maquette_proregular",Helvetica,Arial,sans-serif;
}
body .request_response_tabs a.selected {
    font-family: "ars_maquette_probold",Helvetica,Arial,sans-serif;
}
body #container .operation_container .authentication .title {
    font-family: ars_maquette_probold,Helvetica,Arial,sans-serif;
}
body #content #error_container span, .modal .error_container span {
    font-family: "ars_maquette_probold",Helvetica,Arial,sans-serif;
}
body .edit_link_container {
    font-family: 'ars_maquette_probold',Helvetica,Arial,sans-serif;
}
body #operation_edit_modal h4 {
    font-family: 'ars_maquette_probold',Helvetica,Arial,sans-serif;
}
body #container .edit_mode label {
    font-family: "ars_maquette_probold",Helvetica,Arial,sans-serif;
}
body #container .edit_mode .resource_details .verb_container p {
    font-family: "ars_maquette_probold",Helvetica,Arial,sans-serif;
}

form#devconnect-docgen-model-detail table td.description-field {
    width:12%;
    max-width:400px;
}
form#devconnect-docgen-model-detail table td.word-wrap {
    word-break: break-all;
}

div.method_data div.title-description p {
    word-wrap: break-word;
}

body.front section.block div.method_details:hover,
body.front section.block div.method_details,
body.front section.block div.method_data {
    border:none;
    background:transparent;
}

body.front .method_details {
    padding:0px;
}
body.front .method_details .verb-auth {
    width:80px;
}

body.front section.block div.method_data {
    padding: 0 0 10px;
}

#block-views-home-featured-forum-posts-block {
    border-left: 1px dashed #E0E0E0;
    border-right: 1px dashed #E0E0E0;
}

#devconnect-docgen-import-content .progress-disabled {
    float:left;
    margin-bottom:10px;
}

#devconnect-docgen-import-content #import-format {
    clear:both;
}
#devconnect-docgen-import-content .ajax-progress {
    float:left;
}

#devconnect-docgen-import-content .ajax-progress .throbber,
#devconnect-docgen-import-content .ajax-progress .message {
    float:left;
}

#devconnect-docgen-import-content .ajax-progress .message {
    width:250px;
}

.page-content .container .col-sm-12 {
    padding-left:15px;
    padding-right:15px;
}

table.table td p.data {
    word-break: break-all;
}

/* Responsiveness */
/**
* Smallest
*/
@media(max-width:767px) {
    #block-views-home-featured-forum-posts-block {
        border-left: 0px dashed #E0E0E0;
        border-right: 0px dashed #E0E0E0;
    }
}

/**
* Biggest
  and Second Biggest
  and Third Biggest
*/
@media(min-width:768px) {
    #block-views-home-featured-forum-posts-block {
        border-left: 0px dashed #E0E0E0;
        border-right: 0px dashed #E0E0E0;
    }
}

/**
* Biggest
  and Second Biggest
*/
@media(min-width:992px) {
    #block-views-home-featured-forum-posts-block {
        border-left: 1px dashed #E0E0E0;
        border-right: 1px dashed #E0E0E0;
    }
}
