
div.footermap 
{
  height: 100%;
  display: inline;
  margin: 0 auto;
  text-align: center;
}

div.footermap-col
{
  float: left;
  margin: 0 0 0 20px;
}

li.footermap-item {
  float: none;
  display: block;
  list-style-type: none;
  list-style-position: inside;
  list-style-image: none;
  margin: 0 0 5px;
  padding: 0px;
}
