#bottom {
  background-color: #FAFAFA;
  padding-bottom: 20px;
  z-index: 997;
  position: relative;
}

#bottom li {
  list-style: none;
  margin: 0;
}

#bottom .menu.nav > li {
  float: left;
  width: 160px;
}

#bottom .nolink span {
  font-weight: bold;
}

#footer .span13 {
width: 540px;
}

#bottom {
background-color: #F8F8F8;
padding-bottom: 23px;
padding-top: 2px;
}

#bottom .menu.nav > li {
font-size: 12px;
line-height: 20px;
padding: 0;
}

#bottom .menu.nav > li.last {
width: 120px;
}

#bottom #block-menu-menu-footer>ul.menu  {
margin-left: 190px;
}

#block-menu-menu-footer {
overflow: hidden;
margin-top: 20px;
background: url('../images/footer-logo.png') no-repeat 0px 7px;
}

.footer-txt p {
padding: 9px 0 10px 0;
}

.region-footer p {
margin-top: 9px;
}