#footer {
  height: auto;
}
.footer.navbar-fixed-bottom {
    bottom: auto;
    position: relative;
}
.footer .footer-inner {
    background-color: #43464D;
}
.footer-txt p,
.region-footer p {
    color: #BABBBF;
    font-size: 13px;
    line-height: 13px;
    margin: 0;
    padding: 24px 0;
    text-align: right;
}
.region-footer p {
  font-size: 14px;
  padding: 0;
  margin-top: 14px;
}

/* Footer */
.footer .footer-inner{
  background-color: #43464d
}
.footer .nav > li > a{
  color: #d6d7dc;
  font-size: 13px;
}
.footer .nav > li > a:hover{
  color: #FFF;
  font-weight: normal;
}
.footer.navbar .brand{
  padding: 17px 0px;
}
.footer-txt p{
  color: #babbbf;
  font-size: 13px;
  line-height: 14px;
  margin: 0;
  padding: 13px 0;
  text-align: right;
}
.navbar .footer-inner .nav > li > a {
  padding: 6px 7px;
}

.nav > li > a:hover {
  background-color: inherit;
}
