#page-header {
  position: fixed;
  z-index: 100;
}

#page-header .secondary-menu-wrapper {
/*  padding-top: 5px;*/
}

/* Nav Bar  from base theme */
.admin-menu .navbar-fixed-top {
  position: fixed;
  top: 26px;
  right: 0;
  left: 0;
  z-index: 500;
}

body.no-subnav {
  padding-top: 50px;
}
body.no-subnav #navbar {
  height: 46px;
}

body.no-subnav .master-container {
  background: url(../images/orange-arrow.png) no-repeat 188px 0;
}

body .navbar.navbar-fixed-top #main-menu li a:hover,
body .navbar.navbar-fixed-top .region-sign-in a:hover {
  background: #E02E01;
  color: #fff;
}

.navbar.navbar-fixed-top #main-menu li a.active-trail {
  background-color: #E02E01;
  font-weight: 500;
}

/* Nav Bar */
.navbar .nav > li > a,
.navbar .nav > li > span {
  height: 22px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #FDE7E3;
}
.navbar .nav > li > a:hover, .navbar .nav > li > a.active {
  background: none;
  color: #FFF;
}
.navbar.navbar-fixed-top, .main-nav.navbar-inner{
  background-color: #FF4300;
}
.main-nav.navbar-inner{
  height: 42px;
}
.main-nav.navbar-inner .nav > li > a {
  padding: 10px 9px;
}
.sub-nav.navbar-inner{
  background-color: #E02E01;
  height: 31px;
}
.navbar .brand {
  margin: 0;
  padding: 7px 0;
}
.sub-nav.navbar-inner{
  background-color: #E02E01;
  height: 37px;
}
/* Search box */
#navbar .navbar-search .form-text{
  background: #E02E01 url(../images/search.png) no-repeat 121px 4px;
  width: 110px;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  transition: background-color 0.25s;
  -moz-transition: background-color 0.25s;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  border: none;
  box-shadow: none;
  margin-top: 3px;
}
input.form-text{
  margin-bottom: 0px;
}
#navbar .navbar-search .form-text:focus {
  background-color: #fff;
}

.navbar.navbar-fixed-top #main-menu li a:hover {
  background: #E02E01;
}
.main-nav.navbar-inner{
  height: 46px;
}
.main-nav.navbar-inner .nav > li > a {
  padding: 12px 19px;
}

/* Sub Nav */

#secondary-menu li {
  display: inline-block;
  margin-top: 4px;
}
.sub-nav li a {
  color: #f5bab4;
  text-decoration: none;
  font-size: 12px;
}

.sub-nav li.active a {
  color: #FDE7E3;
}

.sub-nav a:hover {
  color: white;
  text-decoration: none;
}

.subnav.navbar-inner{
  background-color: #E02E01;
}
.navbar .brand{
  margin: 0;
  padding: 7px 0;
}
#arrow{
  left: 0px;
  position: absolute;
  top: 56px;
}
.arrow-down {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #FF4300;
  height: 0;
  width: 0;
}

.navbar-search .search-query:-moz-placeholder{
  color: #e8afa9;
}
.navbar-search .search-query:-webkit-input-placeholder{
  color: #e8afa9;
}
.navbar-fixed-top .navbar-search {
  margin-top: 6px;
}

#login-buttons {
  clear: right;
  margin-top: 3px;
}
#login-buttons a,
#login-buttons span {
  font-size: 17px;
  font-weight: bold;
  max-width: 130px;
  overflow: hidden;
  padding: 0;
}
#login-buttons .separator {
  display: block;
  padding: 0 10px;
  line-height: 20px;
}
#login-buttons a:hover {
}

.sub-nav {
  /* background: url(../images/orange-arrow.png) no-repeat 188px 0; */
}

#navbar .nav-collapse .span3.pull-left {
  margin-left: -2px;
  padding: 0 0 15px 13px;
  background: url(../images/orange-arrow.png) no-repeat bottom left;
  height: 48px;
}

#login-buttons li a {
  font-size: 14px;
  font-weight: 400;
}

#login-buttons a,
#login-buttons span {
  font-family: "ars-maquette-web", "Myriad Pro", "Gill Sans", "Lucida Sans", Verdana, Geneva, sans-serif;
}

.brand img {
  margin-top: 3px;
}

/*
 * Sign in Sign up links.
 */
.nav-collapse ul.region.region-sign-in > li > a {
  font-size: 14px;
  padding: 0;
}

ul.region.region-sign-in li {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

ul.region.region-sign-in.nav {
  margin: 0;
  padding: 0;
  margin-left: 0;
}

#main-menu {
  margin: 0;
  margin-left: -19px;
}

.sub-nav.navbar-inner {
height: 40px;
}

#secondary-menu li {
margin: 0;
height: 40px;
line-height: 40px;
padding: 0;
margin: 0 15px;
}

#secondary-menu li.first {
margin-left: 0;
}

.sub-nav #page-header {
  margin-left: 136px;
}

/* */

.main-nav.navbar-inner {
height: 50px;
}

.navbar .brand {
padding: 10px 0;
}

.main-nav.navbar-inner .nav > li > a {
padding: 14px 15px;
}

#main-menu {
  margin-left: 0;
}

#navbar .navbar-search .form-text {
margin-top: 6px;
}

#navbar .region-sign-in li {
float: left;
}

.nav-collapse ul.region.region-sign-in > li > a {
padding: 0 5px;
padding: 14px;
}

#navbar .region-sign-in li span {
width: 1px;
text-align: center;
line-height: 50px;
overflow: hidden;
display: block;
border-right: 1px #FDE7E3 solid;
height: 15px;
position: relative;
top: 4px;
margin-top: 14px;
}

#main-menu + .pull-right {
  margin-left: 0;
}

.search-form .search-query {
line-height: 15px;
}

body.node-type-blog-content h1.title {
	font-size: 24px;
  white-space: normal;
}

#secondary-menu .active-trail .active-trail {
  color: #F5BAB4;
}

#secondary-menu .active-trail.active .active-trail {
  color: #FDE7E3;
}
.searchy {
  position: absolute;
  right: 250px;
}

.btn-large {
padding: 9px 14px;
font-size: 15px;
line-height: normal;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}

.btn {
display: inline-block;
padding: 4px 10px 4px;
margin-bottom: 0;
font-size: 13px;
font-weight: normal;
line-height: 18px;
color: white;
text-align: center;
vertical-align: middle;
background-color: #009FD0;
background-image: -moz-linear-gradient(top,#00A4D7,#0197C6);
background-image: -ms-linear-gradient(top,#00A4D7,#0197C6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#00A4D7),to(#0197C6));
background-image: -webkit-linear-gradient(top,#00A4D7,#0197C6);
background-image: -o-linear-gradient(top,#00A4D7,#0197C6);
background-image: linear-gradient(top,#00A4D7,#0197C6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a4d7',endColorstr='#0197c6',GradientType=0);
border-color: #0197C6 #0197C6 #015D7A;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 0 0 0 transparent,0 0 5px 0 rgba(255, 255, 255, 0.3);
-moz-box-shadow: inset 0 0 0 0 rgba(0,0,0,0),0 0 5px 0 rgba(255,255,255,0.3);
box-shadow: inset 0 0 0 0 transparent,0 0 5px 0 rgba(255, 255, 255, 0.3);
cursor: pointer;
}
.btn:hover {
text-decoration: none;
color: white;
}
