.iib {
  background: #fff;
  font-family: "Source Sans Pro", "Lucida Grande", Verdana, sans-serif
}

.iib input.form-submit {
  margin-bottom: 0.4em;
}

.entity-iib {
  font-size: 0.8em;
  padding: 0.4em;
}

.page-iib {
  z-index: 1300;
  display: none;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3333);
  position: fixed;
  width: 100%;
}

.iib-active {
  display: block;
}

.iib-trigger {
  cursor: pointer;
}

#toolbar a#iib-toolbar-link {
  padding: 0px 5px;
  line-height: 24px;
  margin: 5px 15px;
  border: 0;
  float:right;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#toolbar a#iib-toolbar-link:hover {
  background: #555;
}

#toolbar a#iib-toolbar-link.active {
  background: #000;
}

.drupal-navbar .bar #iib-navbar-tab {
  display: block;
  float: right;
  position: relative;
}

.drupal-navbar .bar #iib-navbar-tab:hover {
  background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.125) 20%, transparent 200%);
  background-image: linear-gradient(rgba(255, 255, 255, 0.125) 20%, transparent 200%);
}

.drupal-navbar .bar .icon.icon-iib-navbar {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 5em;
  height: 3em;
  background-image: url("../images/iib.png");
  background-repeat: no-repeat;
  background-position: -0.3em -3.3em;
  overflow: hidden;
  text-indent: -999px;
}

.drupal-navbar .bar .icon.icon-iib-navbar:hover,
.drupal-navbar .bar .icon.icon-iib-navbar.active {
  background-position: -0.3em 0.7em;
}

.drupal-navbar .bar #iib-navbar-tab .iib-trigger:after {
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-style: solid;
  border-width: 0.4545em 0.4em 0;
  color: #a0a0a0;
  content: ' ';
  display: block;
  height: 0;
  line-height: 0;
  overflow: hidden;
  position: absolute;
  right: 1.6667em; /* LTR */
  top: 50%;
  margin-top: -0.1666em;
  width: 0;
  z-index: 1
}

.drupal-navbar .bar #iib-navbar-tab .iib-trigger.active:after {
  border-bottom: 0.4545em solid;
  border-top-color: transparent;
  color: black;
  right: 0.7em; /* LTR */
  top: 1.25em;
}

.drupal-navbar .bar #iib-navbar-tab .iib-trigger.active:before {
  background-color: white;
  bottom: 0;
  content: ' ';
  display: block;
  position: absolute;
  left: 3em;
  top: 0;
  width: 2em;
  z-index: 1;
}

.drupal-navbar .bar #iib-navbar-tab .iib-trigger.active:after,
.drupal-navbar .bar #iib-navbar-tab:hover .iib-trigger.active:after {
  color: black;
}
.drupal-navbar .bar #iib-navbar-tab:hover .iib-trigger:after {
  color: white;
}

/* SPS Integration */
.drupal-navbar .bar #iib-navbar-tab.sps-active,
.drupal-navbar .bar #iib-navbar-tab.sps-active:hover {
  background-image: -webkit-linear-gradient(top, rgb(78,159,234) 0%, rgb(69,132,221) 100%);
  background-image: linear-gradient(rgb(78,159,234) 0%,rgb(69,132,221) 100%);
}

.drupal-navbar .bar #iib-navbar-tab.sps-active .icon.icon-iib-navbar {
  background-position: -0.3em 0.7em;
}

.drupal-navbar .bar #iib-navbar-tab.sps-active .icon.icon-iib-navbar:after {
  color: white;
}

.drupal-navbar .bar #iib-navbar-tab.sps-active .icon.icon-iib-navbar.active:after {
  color: black;
}
