
.lingotek-highlight {
  background-color: #ecf2f9 !important;
}

#navbar-link-admin-settings-lingotek::before {
  background-attachment: scroll;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../images/ico_chevs_dd.png");
}

/*#lingotek-navbar-tab {
  margin-top: 8px;
  color: black;
  float: right;
}

#lingotek-navbar-tab .ddTitle {
  height: 23px;
}*/

div.form-item-create-lingotek-document-workbench-moderation, div.form-item-syncMethod-wb {
  margin-left: 50px;
}

/*div.form-item-create-lingotek-document-workbench-moderation label, div.form-item-syncMethod-wb label {
  font-weight: normal !important;
}*/

div.form-item.form-item-lingotek-create-documents-by-default-workbench-moderation,
div.form-item.form-item-wb-options {
  margin-left: 50px;
}

#edit-wb-select {
  margin-left: 50px;
}

/* Settings/Setup - Content Types Table */

.lingotek-content-settings-table td div {
  float: left;
}

.lingotek-content-settings-table td div input {
  margin-left: 10px;
  margin-right: -2px;
}

input.lingotek-content-settings-table.form-checkbox {
  margin: 0px;
}