/* Homepage */
.front .page-header{
  height: 200px;
}
.page-header .get{
  font-size: 133px;
  line-height: 95px;
  top: 103px;
}
.home-header-btn a{
  padding: 15px 12px;
}
.page-header .buttons {
  top: 7px;
}
.page-header .buttons strong{
  font-size: 20px;
}
.page-header .buttons a{
  font-size: 18px !important;
}
.home-img{
  top: 0px;
}
.home-img img{
  height: 220px;
}
.responsive-title{
  margin-bottom: 20px;
}
.responsive-title h1,
.span.welcome{
  font-size: 30px;
  line-height: 30px;
}
#apigee-sso-signin-block{
  width: 30% !important;
}
.view-recent-blog-posts .views-field-body {
  float: left;
  width: 70%;
  margin-left: 10px;
}

/* Nav */
.btn-navbar, .btn-navbar:hover{
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
  color: white;
  text-align: center;
  vertical-align: middle;
  background-color: #009FD0;
  background-image: -moz-linear-gradient(top,#00A4D7,#0197C6);
  background-image: -ms-linear-gradient(top,#00A4D7,#0197C6);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#00A4D7),to(#0197C6));
  background-image: -webkit-linear-gradient(top,#00A4D7,#0197C6);
  background-image: -o-linear-gradient(top,#00A4D7,#0197C6);
  background-image: linear-gradient(top,#00A4D7,#0197C6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a4d7',endColorstr='#0197c6',GradientType=0);
  border-color: #0197C6 #0197C6 #015D7A;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 0 0 transparent,0 0 5px 0 rgba(255, 255, 255, 0.3);
  -moz-box-shadow: inset 0 0 0 0 rgba(0,0,0,0),0 0 5px 0 rgba(255,255,255,0.3);
  box-shadow: inset 0 0 0 0 transparent,0 0 5px 0 rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.btn-navbar{
  margin-left: 3px;
  margin-right: 3px;
}
.navbar .nav > li > a{
  background-color: #E02E01;
}
.nav-collapse ul{
  top: 5px;
  z-index: 100;
}
.nav-collapse ul li a{
  margin-bottom: 0;
  border-bottom: 2px solid white;
  border-radius: 5px;
}
.navbar .nav > li > a:hover{
  cursor: pointer;
}
.navbar-inner {
  height: auto;
}
#first, #second{
  z-index: 100;
}
.navbar #first .nav > li > a,
.navbar #first .nav > li > a:hover,
.navbar #second .nav > li > a,
.navbar #second .nav > li > a:hover{
  background: #EEE;
  color: #009FCF;
}
.navbar #first .nav > li > a.active,
.navbar #second .nav > li > a.active{
  font-weight: bold;
  text-decoration: underline;
  font-size: 110%;
}

/* Phone Only */
@media (max-width: 767px) {
  body.admin-menu{
  }
  .develop-with-these h2{
    font-size: 18px;
  }
  .front .main-content section{
    border-bottom: 2px dotted #E8E8E8;
  }
  .front .main-content #block-system-main,
  .front #block-views-recent-blog-posts-block-1{
    border-bottom: none;
  }
  .front .main-content .view-home-featured-forum-posts .views-row{
    border-bottom: none;
  }
  #apigee-sso-signin-block{
    width: 100% !important;
    position: relative !important;
    clear: both !important;
    bottom: 0 !important;
    border: none !important;
    top: -10px !important;
  }
  #apigee-sso-signin-block ul.federated-buttons{
    margin: 0 !important;
  }
  #admin-menu li {
    display:none;
  }
  #admin-menu li:first-child {
    display:block;
  }
  #admin-menu:hover li {
    display:block;
  }
  form#user-login input,
  form#devconnect-developer-apps-edit-form input{
    max-width: 200px;
  }
  .add-app{
    position: relative;
    display: block;
  }
  .node-blog.node-teaser .node-date{
    position: absolute;
    width: 6%;
  }
  .node-blog.node-teaser .node-body, .node-blog.node-teaser h2{
    width: 85%;
  }
}
