.sps-preview-form {
  padding:15px;
  max-width:800px;
}

.sps-preview-form label,
.sps-preview-form input {
  display:inline;
}

.sps-preview-form .sps-change-condition {
  float: left;
  margin:11px 0 0 10px;
}

.sps-preview-form .form-item {
  float:left;
  padding:3px;
  margin-top: 1em;
}

.sps-date-widget {
  max-width:700px;
}

.sps-date-widget .form-type-date .form-item {
  float:none;
}

.sps-date-widget .form-type-date .description {
  margin-top:8px;
  width: 200px;
}

.sps-date-widget label {
  display:block;
}

.sps-date-widget select {
  font-size:12px;
}

.sps-date-widget legend, .sps-date-widget .fieldset-description {
  display:none;
}

.sps-date-widget .form-item,
.sps-date-widget .fieldset-wrapper {
  margin:0;
}

.sps-preview-form .sps-preview-buttons {
  padding: 10px 0 4px 0;
}


.sps-overridden {
  border : 2px solid #79bf9d !important;
  position:relative;
}
.sps-overridden:before {
  background-image : url(eye.png);
  background-repeat: no-repeat;
  content: ' ';
  width:38px;
  height:38px;
  top: 0px;
  left:0px;
  position: absolute;
}
