.edit_mode [data-role="method-title"][data-allow-edit="true"] {
    border: 1px solid #ffffff;
    padding: 0 5px;    
    width: 344px;
    margin-bottom: 5px;
    float: left;
}

.edit_mode  [data-role="description"][data-allow-edit="true"] {
    float: left;
    padding: 0 5px;
    width: 356px;
}
.edit_mode  [data-role="description"][data-allow-edit="true"].edit {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 4px 0 0 4px;
}
#container {
    border: 0;
    width: 946px;
    margin: 50px auto;
}
#resource_URL input {
    padding: 0;
    border: none;
    box-shadow: none;
    border-bottom: solid thin #CCC;
    border-radius: 0;
    outline: none;
    color: #49afcd;
    font-family: Courier;
    color: #0088CC;
    text-align: center;
    margin:0;

}
#resource_URL span span span {
    display: none;
}
#container #content, #container #index_container  {
    width: 701px;
    border-right: 1px solid #DDDDDD;
    padding: 0 14px 50px 0;
    font-size: 13px;
    line-height: 18px;
    margin-top: 35px;
    float: left;
    display: none;
}
#container #container .method_details .method_data input.error {
    border: 1px solid #B94A48;
}    
#resource_URL input.error {
    border-bottom: 1px solid #B94A48;
}
#container .float_left {
    float: left;
}
#container h2 {
    font-family: "ars_maquette_proregular";
    font-size: 26px;
    line-height: 30px;
    margin: 0 0 0 10px;
    float: left;
    width: 368px;
    word-wrap: break-word;
}
#index_container h2 {
    margin: 0;
    width: auto;
}
#index_container span.version {
    color: #6D7174;
    display: inline-block;
    font-size: 16px;
    padding: 10px 0 0 10px;
}
#container span.icon_lock {
    background: url(../img/lock.png) no-repeat;
    height: 12px;
    width: 11px;
    margin: 8px 4px 4px 4px;
    display: inline-block;
    float: left;
}
#index_container span.icon_lock {
    margin: 4px 14px 4px 4px;
}    
#container .resource_details {
    width: auto;
}
#container .resource_summary {
    width: 208px;
    background-color: #f9f9f9;
    border-radius: 4px;
    float: right;
    padding: 15px 13px 15px 15px;
    margin: 0 0 0 10px;
}
#container .resource_description {
    padding: 5px 0 0;
    font-family: "ars_maquette_proregular";
    min-height: 70px;
}
#container h3 {
    margin: 0;   
    font-size: 22px;
    color: #686969;
    font-weight: normal;
    line-height: 22px;
    padding: 40px 0 0 0;
    font-family: 'ars_maquette_probold';
}
#container h3 a {
    font-size: 13px;
    padding-left: 5px;
    font-family: 'ars_maquette_probold';
    outline: none;
}
#container h4 {
    margin: 0;   
    font-size: 18px;
    color: #686969;
}
#container h6 {
    margin-left: 27px;
}
#request_response_container pre, #request_response_container code {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
}
#container .table th {
    background-color: #F9F9F9;
}
#method_details_URL {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border: 1px solid #BFBFBF;
    border-radius: 3px 3px 3px 3px;
    color: #3D3D3D;
    display: inline-block;
    font-size: 13px;
    height: 28px;
    line-height: 18px;
    padding: 4px 8px;
    width: 406px;
}
.resource_summary h4 {
    font-size: 16px;
    margin: 0;
    font-family: "ars_maquette_probold";
    padding-bottom: 4px;
}
.resource_summary div {
    padding: 5px 0;
    font-size: 12px;
    clear: both;
}
.resource_summary div p.title {
    font-family: "ars_maquette_probold";   
    float: left;
}
.resource_summary div p.data {
    float: right;
    width: 117px;
    text-align: right;
    word-wrap: break-word; 
}
.resource_summary div p.data.auth_type {
    text-transform:capitalize;
}
.resource_URL_hint, .param_hint, ul.method_table, ul.param_table {
    color: #686969;
    line-height: 18px;
    padding: 0;
}
#container ul.method_table, #container ul.param_table {
    list-style: none;
    margin: 0;
}
#container ul.method_table li:after, #container ul.param_table li:after {
    clear: both;
}    
#container ul.method_table li:after, #container ul.method_table li:before, #container ul.param_table li:after, #container ul.param_table li:before {
    content: "";
    display: table;
    line-height: 0;
}
p#resource_URL {
    font-family: Courier;
    line-height: 19px;
    padding-top: 10px;
    font-size: 14px;
    word-wrap: break-word;
}
.param_hint {
    display: inline-block;
    padding: 10px 0 0 100px;
}
textarea, input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
#index_container .method_table {
    margin-top: 10px;
} 
.method_table .method_title, .method_table .method_details, .param_table .param_title, .param_table .param_details {
    border-bottom: 1px solid #cacaca;
    padding: 10px 0;
}
.method_table .method_details:hover, .param_table .param_details:hover {
    background-color: #fbfbfb;
}
.method_table .method_title .method_data, .method_table .method_details .title span:first-child, .param_table .param_title div, .param_table .param_details .title span:first-child, .method_edit label {
    font-family: "ars_maquette_probold";
}    
.method_table .method_details .title, .method_table .method_title .title {
    float: left;
    width: 150px;
    margin-right: 10px;
    word-wrap: break-word;
}
.method_table .method_details .title {
    line-height: 13px;
}
#index_container .method_table .method_details .title,#index_container .method_table .method_title .title {
    width: 240px;
    margin-right: 0; 
}  
#index_container .method_table .method_details .title a {
    line-height: 13px;
    display: inline-block;
    width: 140px; 
}
#index_container .method_table .method_details .title .resource_path {
    font-size: 12px;
    color: #aaa;
    padding-top: 3px;
}
.method_table .method_details .title span.required {
    font-family: "ars_maquette_proitalic";
    font-size: 12px;
    color:#aaa;
}
 .method_table .method_details .value, .method_table .method_title .value {
    width: 168px;
    float: left;
} 
.method_table .method_title, .param_table .param_title {
    padding-bottom: 2px;
    text-transform: uppercase;
    font-size: 12px;
}
.method_table .method_details .value input, .param_table li input, .method_edit input[type="text"] {
    height: 25px;
    width: 144px;
    font-size: 13px;
    margin-bottom: 0;
}
.param_table li select, .param_table li textarea,.method_edit textarea, .method_edit select, .method_edit label {
    font-size: 13px;
    color: #555555;
}   
textarea#inputRequestDoc, textarea#inputResponseDoc, textarea#inputRequestExample {
    width: 500px;
    height: 100px;
}  
.method_table .method_details .description, .method_table .method_title .description {
    width: 358px;
    padding:0 15px 0 0;
    float: right;
}
#index_container .method_table .method_details .description,#index_container .method_table .method_title .description {
    width: 446px;
}    
.method_table .method_details .description a {
    padding-left: 5px;
}
#index_container .method_table .method_details .title p.resource_path {
    float: right;
    width: 153px;
}
ul.param_table li div.title, ul.param_table li div.value {
    float: left;
    width: 150px;
}
ul.param_table li div.title input, ul.param_table li div.value input {
    width: 140px;
    padding-right: 13px; 
}
ul.param_table li div.required {
    float: left;
    width: 100px;
}
ul.param_table li div.required select {
    width: 80px;
}
ul.param_table li div.description {
    float: left;
    width: 355px;
}
ul.param_table li div.description textarea {
    width: 355px;
}
p.get, p.post, p.put, p.delete,p.GET, p.POST, p.PUT, p.DELETE {
    margin: 0;
    float: left;
    padding: 4px;
    width: 50px;
    border-radius: 3px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    float: left;
    margin-top: 4px;
    line-height: 14px;
    font-family: "Arial";
}
#index_container p.get, #index_container p.post, #index_container p.put, #index_container p.delete,#index_container p.GET, #index_container p.POST, #index_container p.PUT, #index_container p.DELETE { 
    margin: 0;
}
p.get,p.GET {
    background-color: rgb(0,139,250);
}
p.put,p.PUT {
    background-color: rgb(250,148,0);
}
p.post,p.POST {
    background-color: rgb(21,185,70);
}
p.delete,p.DELETE {
    background-color: #e50000;
}
button#send_request {
    border: 1px solid #1686b2; /* stroke */
    border-radius: 7px / 5px 5px 5px 5px; /* border radius */
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box; /* prevents bg color from leaking outside the border */
    background-color: #0f97cb; /* layer fill content */
    background-image: -moz-linear-gradient(bottom, rgba(35,31,32,.16) 0%, rgba(255,255,255,.16) 100%); /* gradient overlay */
    background-image: -o-linear-gradient(bottom, rgba(35,31,32,.16) 0%, rgba(255,255,255,.16) 100%); /* gradient overlay */
    background-image: -webkit-linear-gradient(bottom, rgba(35,31,32,.16) 0%, rgba(255,255,255,.16) 100%); /* gradient overlay */
    background-image: linear-gradient(bottom, rgba(35,31,32,.16) 0%, rgba(255,255,255,.16) 100%); /* gradient overlay */
    padding: 10px 40px;
    color: #fff;
    font-size: 15px;
    line-height: 15px;
    margin: 0;
    float: left;
    font-family: 'ars_maquette_promedium';
}
button#send_request span {
    color: #64c7ef;
    font-size: 12px;
    font-family: "ars_maquette_proregular";
}
a.link_reset_default {
    display: inline-block;
    margin: 18px 0 0 10px;
    font-size: 13px;
}
.request_response_tabs a {
    color: #00799d;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 30px;
    display: block;
    outline: none;
    float: left;
}
.request_response_tabs a::-moz-focus-inner {
  border: 0;
}
.request_response_tabs a.selected {
    background-color: #f8f8f9;
    font-family: "ars_maquette_probold";
    color: #686969;
    border-radius: 4px 4px 0 0;
}
#request_response_container {
    background-color: #f8f8f9;
    border-radius: 3px;
    padding: 23px;
    clear: both;
}
.template_param_container {
    height: 43px;
    width: 200px;
    position: absolute;
    top: 295px;
    left:488px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 5px;
    display: none;
}
#request_response_container .request {
    display: none;
}
.template_param_container input {
    margin: 10px 0 0 10px;
    padding: 0;
    width: 125px;
}
.template_param_container button {
    margin: 10px 0 0 0;
    padding: 0;
    width: 25px;
}
span.highlight {
    background-color: #49afcd;
}
.request_payload div.docs, .response_payload div.docs {
    display: none
}
#container .request_payload h3 {
    padding-bottom: 10px; 
}
#container .method_table select {
    width: 144px;
}
.request_payload div textarea, .response_payload div textarea {
    width: 100%;
}
.response_payload div {
    padding-top: 10px;
}
.operation_container {
    margin: 40px 0;
}
.operation_container .authentication {
    float: left;
    width: 170px;
}
.operation_container .authentication .well {
    width: 120px;
    margin: 4px 0 0;
    padding: 4px; 
    float: left;
}
.operation_container .authentication .well.selected, .operation_container .authentication .well:hover {
    box-shadow: 0 0 3px 3px #2182AF;
}
.operation_container .authentication .well:not(:first-child) {
    margin-left: 10px;
}
.modal input[type="radio"] { 
    margin: 0;
}
.operation_container .authentication .well .details a {
    display: inline-block;
    width: 94px;
}
.authentication .icon-remove {
    display: inline-block;
    margin-left: 10px;
}
#container .operation_container .authentication .title {
    color: #686969;
    font-family: ars_maquette_probold;
    font-size: 14px;
}
#container .operation_container .authentication .details span {
    display: inline-block;
    padding-right: 25px;
}
#overlay_container {
    background-color: #000000;
    color: red;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}  
.modal h3 {
    padding: 0;
}
.modal input {
    height: 30px;
}
.modal input.error {
    border: 1px solid #B94A48;    
} 
.modal .modal-footer p {
    float: left;
    padding-top: 4px;
    color: #686969;
    font-size: 13px
}
.modal .modal-body .content p {
    padding: 5px;
    font-size: 13px;
}
.modal .modal-footer a.button_close_modal {
    padding: 0 20px 0 5px;
    text-decoration: none;
}
.modal .modal-footer a.button_save_modal {
    padding: 4px 20px;
}
a.link_open_auth, a.link_open_auth:hover {
    text-decoration: none;
    border-bottom: 1px dotted #0088CC;
}  
.response_payload .table-bordered, .request_payload .table-bordered {
    border-radius: 0;
    border-collapse: collapse;
    font-size: 12px;
}
.response_payload .table-bordered thead, .request_payload .table-bordered thead {
    font-size: 13px;
}   
#content #error_container, .modal .error_container {
    background-color: #EED3D7;
    background-image: none;
    border: 2px solid #B94A48;
    border-radius: 3px 3px 3px 3px;
    color: #B94A48;
    display: none;
    font-size: 13px;
    line-height: 18px;
    margin: 0 0 40px 0;
    padding: 10px; 
}
#content #error_container span, .modal .error_container span {
  font-family: "ars_maquette_probold";
}
.modal .error_container  {
    margin: 0 0 20px 97px;
    width: 265px;
}     
.btn_round {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),color-stop(25%,#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(#fff,#fff 25%,#e6e6e6);
    background-image: -moz-linear-gradient(top,#fff,#fff 25%,#e6e6e6);
    background-image: -ms-linear-gradient(#fff,#fff 25%,#e6e6e6);
    background-image: -o-linear-gradient(#fff,#fff 25%,#e6e6e6);
    background-image: linear-gradient(#fff,#fff 25%,#e6e6e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e6e6e6',GradientType=0);
    padding: 0;
    margin: 0;
    text-shadow: 0 2px 2px rgba(255,255,255,0.75);
    color: #333;
    font-size: 14px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    transition: .1s linear all;
}
.btn_round:hover{
    background-position: 0 -15px;
    color: #333;
    text-decoration: none
}
/* Edit usecase declarations */
.btn_round.hide {
    display: none;
}
.edit_link_container {
    width: 100%;
    text-align: right;
    margin-bottom: 20px;
    font-family: 'ars_maquette_probold';
}
#operation_edit_modal h4 {
    margin: 10px 0;
    font-family: 'ars_maquette_probold';            
}
#operation_edit_modal a {
    outline: none;
}
#operation_edit_modal .button_container {
    float: left;
    width: 80px;    
}
#operation_edit_modal .description textarea {
    width: 345px;
}
#operation_edit_modal .query_edit_container .value input, #operation_edit_modal .header_edit_container .value input {
    width: 140px,
}
#operation_edit_modal input[type="radio"] {
    height: 14px;    
}
.resource_summary div {
    clear: both;
}  
#working_alert {
    background-color: #f9f6c5;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear,left top,left bottom,from(#f9f6c5),to(#f9f6c5));
    background-image: -moz-linear-gradient(top,#f9f6c5,#f9f6c5);
    background-image: -ms-linear-gradient(top,#f9f6c5,#f9f6c5);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f9f6c5),color-stop(100%,#f9f6c5));
    background-image: -webkit-linear-gradient(top,#f9f6c5,#f9f6c5);
    background-image: -o-linear-gradient(top,#f9f6c5,#f9f6c5);
    background-image: linear-gradient(top,#f9f6c5,#f9f6c5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f6c5',endColorstr='#f9f6c5',GradientType=0);
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    margin-bottom: 18px;
    color: #404040;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    z-index:9999;
    width: 94px;
    position: fixed;
    top: 54px;
    display: none;

}
#working_alert p {
    white-space: nowrap;
    margin-right: 30px;
    padding: 7px 14px 7px 20px;
    font-size: 13px;
    line-height: 18px;
} 
#request_response_container {
    clear: both;
}
#request_response_container pre, #request_response_container code {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
}
i {
    cursor: pointer;
}
a.allow_edit {
    display: none;
    height: 18px;
    width: 18px;
    background: url('../img/empty.png') no-repeat;
    background-color: #f0f0f0;
    border-radius: 0 4px 4px 0;
    border: 1px solid #ccc;
    border-left: 0;
    float: left;
    cursor: pointer;
}
.edit_mode .popover a.allow_edit {
    margin-top: 17px;
}
a.allow_edit.hide {
    display: none;
}
a.allow_edit.hover, #container .edit_mode .nav-pills > li > a.allow_edit.hover {
    border-radius: 0 4px 4px 0;
    background: url('../img/pencil_small_hover.png') no-repeat 5px 4px;
}
a.allow_edit.ok, #container .edit_mode .nav-pills > li > a.allow_edit.ok {
    border-radius: 0;
    background: url('../img/ok.png') no-repeat 5px 4px;
}
a.allow_edit.cancel, #container .edit_mode .nav-pills > li > a.allow_edit.cancel {
    border-radius: 0 4px 4px 0;
    background: url('../img/cancel.png') no-repeat 5px 4px;
}
.edit_mode [data-allow-edit="true"]:focus, #container .edit_mode [contenteditable="true"]:hover, #container .nav-tabs > li > a:hover, #container .nav-tabs > li > a:focus {
    outline: 0;
}

.edit_mode [contenteditable="true"].edit, .edit_mode [data-allow-edit="true"].edit, .edit_mode .resource_summary div p[contenteditable="true"].edit, .edit_model .description_container .resource_description.edit {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 4px 0 0 4px;
}
.edit_mode .method_table .method_details [data-allow-edit="true"] {
    float: left;
    padding: 0 5px;
    width: 296px;
}
.edit_mode .edit_param {
    position: absolute;
    left: -100px;
    top: -1px;
    width: 99px;
    background-color: #fbfbfb;
    height: 100%;
    border-top: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    border-left: 1px solid #cacaca;      
    border-radius: 4px 0 0 4px;          
}
.edit_mode .edit_param#container .edit_mode_2 {
    width: 40px;
    left: -41px;
}
.edit_mode [data-role='request-payload-docs'], #container .edit_mode [request-payload-example] {
    width: 600px;
    float: left;
}
.edit_mode [data-role='response-payload-docs'] {
    width: 650px;
    float: left;
}
.edit_mode .request_payload_doc_edit {
    width: 600px;
    height: 400px;
    float: left;
}
.edit_mode .response_payload_doc_edit {
    width: 650px;
    height: 400px;
    float: left;
}
.edit_mode .request_payload_doc_edit, #container .edit_mode .response_payload_doc_edit {
    border-radius: 4px 0 4px 4px;
    box-shadow: 0;
}
.method_table .method_details:hover, .param_table .param_details:hover {            
    border-radius: 0 4px 4px 0;                
}    
.method_table .method_details .description, .method_table .method_title .description {
    width: 357px;
}           
.method_table .method_details .save_cancel_buttons {
    left: -138px;
    position: absolute;
    top: -1px;  
    display: none;                          
}
.method_table .method_details .save_cancel_buttons#container .edit_mode_2 {
    left: -78px;
}
.edit_mode .circle, .edit_mode .pencil {
    float: left;
    margin: 12px 0 0 7px;
    cursor: hand;
}
.edit_mode .circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #cacaca;
}
.edit_mode .circle .add, #container .edit_mode .circle .remove {
    height: 14px;
    width: 14px;
    margin:3px 0 0 3px;
    display: inline-block;
}
.edit_mode .circle .add {
    background: url(../img/btn_add.png) no-repeat;
}
.edit_mode .circle .remove {
    background: url(../img/btn_remove.png) no-repeat;
}
.edit_mode .circle .add:hover {
    background: url(../img/btn_add_hover.png) no-repeat;
}
.edit_mode .circle .remove:hover {
    background: url(../img/btn_remove_hover.png) no-repeat;
}
.edit_mode div.pencil {
    height: 19px;
    width: 19px;
    background: url(../img/pencil.png) no-repeat;
}
.edit_mode div.pencil:hover {
    background: url(../img/pencil_hover.png) no-repeat;
}
#container .edit_mode li {
    background-color: #ffffff;
    padding: 10px 0;
}         
.edit_mode .nav-tabs li {
    background-color: transparent;
    padding: 0;
}
.edit_mode ul.method_table li {
    position: relative;
}
.edit_mode .resource_details ul li:hover, .resource_summary ul li:hover {
    background-color: #0088cc
} 
.nav-pills > li > a.allow_edit  {
    padding: 0;
    margin: 0;
}            
.edit_mode label {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 2px;
    font-family: "ars_maquette_probold";   
    color: #686969;
}
.admin_auth_section {
    text-align: right;
    margin: 5px 0;
    display: none;
}            
.admin_auth_section a {
    border-bottom: 1px dotted #FFFFFF;

}
.admin_auth_section i {
    margin-top: 2px;    
}
.admin_auth_section a:hover {
    text-decoration: none;
}
/*Resource Details */
#container .edit_mode .resource_details {
    float: left;    
    width: 420px;
}
#container .edit_mode .resource_details .verb_container {
    float: left;
    margin-top: 5px;
    position: relative;
    width: 96px;
}
#container .edit_mode .resource_details .verb_container p {
    float: left;
    font-family: "ars_maquette_probold";   
    padding-left: 3px;
    width: 53px;
}
#container .edit_mode .resource_details .verb_container ul {
    font-size: 12px;
    padding: 1px;
    position: absolute;
    list-style: none;
    top: 19px;
    left: -25px;
    border: 1px solid #ccc;
    border-radius: 0 0 4px 4px;
    display: none;
    background-color: #ffffff;
}
#container .edit_mode .resource_details h2 {
    border: 1px solid #ffffff;
    padding: 0 5px;    
    width: 244px;
    margin-bottom: 5px;
}
.edit_mode .description_container .resource_description, .edit_mode .description_container textarea {
    width: 372px;
    float: left;
    padding: 5px 5px;
}
.edit_mode .description_container textarea {
    display: none;
}
#container .edit_mode .resource_details .description_container .resource_description {
    border: 1px solid #ffffff;
}   
.edit_mode .description_container textarea {
    border-radius: 4px 0 4px 4px;
}
#container .edit_mode .url_container {
    position: relative;
}
#request_response_container div strong {
  font-size: 18px;
  margin: 0;
  display: block;
  width: 100%;
  word-wrap: break-word;
  line-height: 24px;
}
#request_response_container .success {
  color: #5ca816;
}
#request_response_container div dt {
  float: left;
  padding-right: .5em;
  color: #0b599f;
  font-weight: normal;
  margin:0;
}
#request_response_container div dd {
  clear: right;
  color: #7c1392;
  margin: 0;
  word-wrap: break-word;
}
#container .edit_mode [data-role="request-payload-docs"], #container .edit_mode [data-role="request-payload-example"], #container .edit_mode [data-role="request-payload-docs"] {
    border: 1px solid #ffffff;
}
[data-role='request-payload-example'], #container .edit_mode [data-role='request-payload-example'] {
    border: 1px solid #cacaca;
    margin: 5px 0;    
}