body {
  line-height: 1.5;
  font-size: 87.5%;
  padding:0;
  margin:0;
  color:#000;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
}

h1 {
  font-size: 1.571em;
  color: black;
}

h1#page-title {
  font-size: 2em;
  line-height: 1;
}

#main h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4;
}

td.title h1, td.title h2, td.title h3,
.containercell h1, .containercell h2, .containercell h3 {
  margin:0;
}

table {
  border: 0;
  border-spacing: 0;
  font-size: 1em;
  margin: 10px 0;
  width: 100%;
  border-collapse: collapse;
  border-image: initial;
}

table table {
  font-size:1em;
}

table.bartik {
  font-size: 0.857em;
}

tbody {
  border-top: 1px solid #CCC;
}

tr td, tr th {
  padding: 4px 9px;
  border: 1px solid white;
  text-align: left;
  border-image: initial;
}

table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
  color: white;
  font-weight: bold;
}

tr td.title {
  padding:12px 9px;
}

tr {
  background: #E4E4E4;
  background: rgba(0, 0, 0, 0.105);
}

.cardlabel tr {
  background:#fff;
}

.cardlabel tr td {
  text-align:center;
}

#header {
  background-color: #48A9E4;
  background-image: -moz-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -ms-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -o-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #0779bf), color-stop(1, #48a9e4));
  background-image: -webkit-linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  background-image: linear-gradient(top, #0779bf 0%, #48a9e4 100%);
  min-height:185px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header .section,
#main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#site-name {
  padding-top: 34px;
  color: #FFFEFF;
  font-weight:bold;
  font-size: 1.821em;
  line-height: 1;
}

#return-url {
  font-size:1.5em;
}

.bannercontainer, .bannercontainer tr, .bannercontainer td, .bannercontainer th {
  background:transparent;
  padding:0; margin:0;
  color:#000;
}

.error {
  color:#ff0000;
}

/* WorldPay buttons */
#op-PMMakePayment {
  vertical-align:middle;
  margin-left:5px;
}
