/**
 * Theming for the log results table
 *
 * info and debug-level stuff gets indented to show it's subordinate.
 */
 
#admin-dblog .dblog-info {
  font-size:0.9em;
}
#admin-dblog .dblog-info .message{
   padding-left: 4em;
}

#admin-dblog .dblog-debug .message{
  font-size:0.8em;
}
#admin-dblog .dblog-debug .message{
     padding-left: 8em;
}