/**
  Styles for the file selector tree UI
 */
.tree-branch {
  border: 1px solid cyan;
  margin: 2px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  display: block;
}

.tree-content {
  padding-left: 1em;
  display: block;
}

.tree-branch-label {
  font-weight: bold
}

.tree-branch-toggle {
  margin: 0px;
  vertical-align: text-bottom;
}

.xxtree-branch label {
  display: block;
}

.tree-content .form-item {
  margin-bottom: 0;
}

.tree-root-label {
  font-weight: bold;
}

.fileSelectedLabel {
  display: block;
  background: pink;
  font-weight: bold
}

.html-item-wrapper {
  color: #000099;
}

.image-item-wrapper {
  color: #009900;
}

.resource-item-wrapper {
  color: #990000;
}

.unknown-item-wrapper {
  color: #999999;
}

.is-default-wrapper label {
  font-style: italic;
}