line.analytics-chart-vertical {
    stroke: #eeeeee;
    stroke-width: 1pt;
}

line.analytics-chart-horizontal {
    stroke: #bbbbbb;
    stroke-width: 1pt;
    stroke-dasharray: 2,2;
}

text.analytics-chart-x-caption {
    font-size:10px;
    font-weight:bold;
    stroke: none;
    fill: #666666;
    text-anchor: middle;
}
text.analytics-chart-x-subcaption {
    font-size: 9px;
    font-style: italic;
    stroke: none;
    fill: #666666;
    text-anchor: middle;
}

text.analytics-chart-x-caption.first, text.analytics-chart-x-subcaption.first {
    text-anchor: start;
}

text.analytics-chart-y-caption {
    font-size:10px;
    font-weight:bold;
    stroke: none;
    fill: #666666;
    text-anchor: end;
}

line.analytics-chart-x-axis, line.analytics-chart-y-axis {
    stroke: #666666;
    stroke-width: 1px;
}

text.analytics-chart-y-axis-title, text.analytics-chart-x-axis-title {
    font-size: 11px;
    stroke: none;
    fill: #666666;
    text-anchor: middle;
}

polyline.analytics-chart-data-line {
    fill: none;
    stroke-width: 2px;
}

g.analytics-chart-legend rect {
    stroke: #cccccc;
    stroke-width: 1px;
    fill:none;
}
g.analytics-chart-legend text {
    font-size: 10px;
    stroke: none;
    fill: #666666;
}
g.analytics-chart-legend polyline {
    stroke:none;
}
